.project-form-page {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.project-form-main {
    display: flex;
    flex-direction: column;
}

.project-form-1 {
    row-gap: 8px;
    padding-bottom: 8px !important;
}

.project-form-2 {
    padding-bottom: 8px !important;
}

.project-form-3 {
    padding-bottom: 8px !important;
}

.project-form-4 {
    row-gap: 8px;
}
